.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-left: 25px solid rgba(0,0,255, 0.4);
   
}

.recovered {
    border-left: 25px solid rgba(0,255,0, 0.4);
}

.deaths {
    border-left: 25px solid rgba(255,0,0, 0.4);
}